body {
    background-color: black;
}

#stock-graph {
    margin: 10px auto;
}

#wrapper {
    background-color: black;
}

#search-table {
    width: 30%;
    margin: 10px auto;
    vertical-align: top;
    display: inline-block;
}